In [28]:
from sklearn.datasets import load_iris
iris=load_iris()

In [35]:
import pandas as pd
df=pd.DataFrame(iris.data)
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [36]:
df['target']=iris.target
df.head()

     0    1    2    3  target
0  5.1  3.5  1.4  0.2       0
1  4.9  3.0  1.4  0.2       0
2  4.7  3.2  1.3  0.2       0
3  4.6  3.1  1.5  0.2       0
4  5.0  3.6  1.4  0.2       0

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df.drop('target', axis='columns'), df.target, test_size=0.2)

In [38]:
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier(n_estimators=40)
model.fit(X_train, Y_train)

RandomForestClassifier(n_estimators=40)

In [39]:
model.score(X_test, Y_test)

0.9666666666666667

In [40]:
from sklearn.ensemble import RandomForestClassifier
model= RandomForestClassifier(max_samples=10)
model.fit(X_train, Y_train)

RandomForestClassifier(max_samples=10)

In [41]:
model.score(X_test, Y_test)

1.0